<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%>></title>
</head>
<body>
    <h1><%=author.fullName%></h1>
    <p><%=author.lifespan%></p>
    <div style="margin-top: 20px;margin-left: 20px;">
        <h4>Books</h4>
        <ul>
            <% if books.length > 0 { %>
               <%books.forEach(book => { %>
                <li>
                    <a href="<%=book.url%>"><%=book.title%></a>
                    <p><%=book.summary%></p>
                </li>
            <%})} else { %>
                <p>This author has no books.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>