<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h3><%=genre.name%></h3>
    <div>
        <h4>Books</h4>
        <ul>
        <% if (genreBooks.length>0) { %>
            <% genreBooks.forEach(book => {%>
                <l1>
                    <a href="<%= book.url %>"><%= book.title%></a>
                    <p><%= book.summary%></p>
                </l1>
            <% }) } else { %>
                <li>This genre has no books</li>
            <%}%>
        </ul>

    </div>
</body>
</html>