<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href=".../public/stylesheets/style.css">
</head>
<body>
    <%- include('../layout.ejs') %>
    <h1><%= title %></h1>
    <ul>
        <% if (genreList.length>0) { %>

        <% genreList.forEach(genre => {%>
            <l1>
                <a href="<%= genre.url %>"><%= genre.name%></a>
            </l1>
        <% }) } else { %>
            <li>There are no genres</li>
        <% } %>
    </ul>
</body>
</html>